* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, rgb(7, 75, 108), rgb(25, 33, 35));
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 15%;
    padding-top: 20px;
}

header > nav {
    width: inherit;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header > nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

header > nav > a:hover {
    font-weight: 600;
}

main {
    display: flex;
    width: 100%;
    height: 80%;
}

main > section {
    width: 100%;
    display: none;
}


/******************************************************    Startpage     *****************************************************************/

main .home {
    justify-content: center;
}

main .left {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .left > .card {
    height: 600px;
    width: 400px;
    box-shadow: 5px 10px 18px #888888;
}

main .left > .card > .card-top {
    height: 72%;
    width: inherit;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .left > .card > .card-top > img {
    height: 350px;
    width: auto;
}

main .left > .card > .card-bottom {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    background-color: white;
    height: 30%;
}

main .left > .card > .card-bottom h2 {
    font-family: 'Big Shoulders Stencil Display', cursive;
}

main .left > .card > .card-bottom .card-btn {
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-top: 7%;
    margin-left: 60%;
    background-color: inherit;
    outline: none;
}

main .left > .card > .card-bottom .card-btn:hover {
    font-weight: 600;
}

main .left > .card > .card-bottom .card-btn > span {
    margin-left: 10px;
}

main .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .right h2 {
    font-size: 3em;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: white;
    margin: 0 0 50px 100px;
}

main .right button.get-random {
    font-family: 'Montserrat', sans-serif;
    width: 15%;
    height: 10%;
    padding: 10px 10px;
    font-size: 1.5em;
    border: rgb(25, 33, 35);
    outline: none;
    box-shadow: none;
    background-color: #9379A6;
}

main .right button.get-random:hover {
    font-weight: 600;
}


/******************************************************    Info page     *****************************************************************/


main > .info {
    padding: 0 50px 0 50px;
    align-items: center;
    justify-content: center;
}

main > .info > .beer-img {
    height: 700px;
    width: auto;
}

main > .info > .beer-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

main > .info > .beer-info > .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px 50px;
}

main > .info > .beer-info > .top > h2 {
    font-size: 3em;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

main > .info > .beer-info > .top > p {
    margin: 0 100px 0 100px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

main > .info > .beer-info > .btm {
    padding: 20px 50px;
    display: flex;
    height: auto;
}

main > .info > .beer-info > .btm > .left {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

main > .info > .beer-info > .btm > .left li {
    list-style-type: none;
}

main > .info > .beer-info > .btm > .left p {
    margin-top: 20px;
}

main > .info > .beer-info > .btm > .right {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    color: white;
    text-align: center;
    padding: 20px 50px;
}

main > .info > .beer-info > .btm > .right li {
    list-style-type: none;
}

main > .info > .beer-info img {
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
}
main > .info > .beer-info img:nth-of-type(2) {
    margin-top: 30px;
}


/******************************************************    Search page     *****************************************************************/

main .search {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .search h1 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 3em;
    margin-bottom: 30px;
    color: white;
}

main .search .wrapper-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
}

main .search .wrapper-form > .form-search {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    columns: auto auto;
    justify-content: flex-start;
    text-align: left;
    color: white;
}

main .search .wrapper-form > .form-search label {
    font-weight: 700;
}

main .wrapper-form > .form-search > input {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom: 15px;
}

main .wrapper-form > .form-search > input:invalid {
    border: 2px solid red;
}

main .wrapper-form > .form-search > span.invalid {
    color: red;
    font-family: 'Montserrat', sans-serif;
}

main .search > .wrapper-form > .form-search button {
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    padding: 10px 20px;
}

main .search > .wrapper-form > .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .search > .wrapper-form > .result > ul {
    text-align: left;
    margin-bottom: 40px;
}

main .search > .wrapper-form > .result > ul > li {
    font-family: 'Montserrat', sans-serif;
    width: 795px;
    text-align: left;
    list-style-type: none;
    font-size: 16px;
    cursor: pointer;
    padding: 1.2% 0 1.1% 2%;
}

main .search > .wrapper-form > .result > ul > li:hover {
    font-weight: 700;
}

main .search > .wrapper-form > .result > .nav {
    margin-bottom: 20px;
}

main .search > .wrapper-form > .result > .nav span.prev, span.next {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

main .search > .wrapper-form > .result span.prev {
    margin-right: 30px;
}
main .search > .wrapper-form > .result span.next {
    margin-left: 30px;
}

main .search > .wrapper-form > .result > span.error-msg {
    color: red;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}


/******************************************************    Visibility     *****************************************************************/

.active {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}