* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 99vw;
    background-color: white;
    /* background: linear-gradient(150deg, rgb(187, 29, 86), 45%, rgb(232, 233, 234) 36%); */
    background: linear-gradient(150deg, rgb(98, 209, 240), 45%, rgb(232, 233, 234) 36%);
    /* background-color: rgb(198, 223, 231); */
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 15%;
    padding-top: 20px;
}

header > nav {
    width: inherit;
    text-align: center;
}

header > nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}


main {
    display: flex;
    width: 100%;
    height: 80%;
}

main > section {
    width: 100%;
    display: none;
}


/******************************************************    Startpage     *****************************************************************/


main .random {
    width: inherit;
    display: flex;
    justify-content: center;
}

main .random > .card {
    margin-left: 25%;
    height: 600px;
    width: 400px;
    box-shadow: 5px 10px 18px #888888;
}

main .random > .card > .card-top {
    height: 72%;
    width: inherit;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

main .random > .card > .card-top > img {
    height: 350px;
    width: auto;
    align-self: center;
}

main .random > .card > .card-bottom {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    outline: none;
    background-color: white;
    height: 30%;
}

main .random > .card > .card-bottom .card-btn {
    border: none;
    margin-top: 7%;
    margin-left: 60%;
    background-color: inherit;
    outline: none;
}

main .random > .card > .card-bottom .card-btn > span {
    margin-left: 10px;
}

main button.get-random {
    width: 15%;
    height: 10%;
    margin-top: 14%;
    margin-right: 30%;
    padding: 10px 10px;
    font-size: 1.5em;
    
    outline: none;
    box-shadow: none;
    background-color: rgb(98, 209, 240);
}




/******************************************************    Info page     *****************************************************************/


main > .info {
    padding: 0 50px 0 50px;
    align-content: center;
}

main > .info > .beer-img {
    height: 700px;
    width: auto;
    margin-left: 200px;
}

main > .info > .beer-info {
   
    padding: 0 50px 0 50px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

main > .info > .beer-info h2 {
    display: block;
    font-size: 4em;
    color: white;
    text-shadow: 2px 1px 1px black;         /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 2px 1px 1px black;
    margin-bottom: 30px;
}

main > .info > .beer-info > p {
    line-height: 120%;
    font-size: 1.2em;
    margin-bottom: 4%;
}

main > .info > .beer-info > p:nth-of-type(1) {
    margin-top: -30px;
    font-size: 16px;
}

main > .info > .beer-info p.food {
    text-align: center;
    width: 500px;
    font-size: 16px;
    align-self: center;
}

main > .info > .beer-info p.tips {
    text-align: center;
    width: 500px;
    font-size: 16px;
    align-self: center;
}

main > .info > .beer-info > .description {
    font-size: 20px;
    width: 900px;
    align-self: center;
}

main > .info > .beer-info ul {
    align-self: center;
    width: 500px;
    list-style-type: none;
    line-height: 200%;
    text-align: left;
    font-size: 16px;
}
main > .info > .beer-info ul > p {
    font-size: 20px;
}

main > .info > .beer-info img {
    height: 40px;
    width: 40px;
    align-self: center;
    margin-top: 50px;
}
main > .info > .beer-info img:nth-of-type(2) {
    margin-top: 0;
}

/******************************************************    Search page     *****************************************************************/


main .wrapper-form {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;

    
    margin-left: 15%;
    text-align: center;
}

main .wrapper-form > h1 {
    font-size: 3em;
    margin-bottom: 5%;
    color: white;
}


main .wrapper-form > .form-search {
    width: 40%;
    display: flex;
    flex-direction: column;
    columns: auto auto;
    justify-content: flex-start;
    text-align: left;
    color: black;
}

main .wrapper-form > .form-search label {
    color: black;
    font-weight: 700;
}

main .wrapper-form > .form-search button {
    width: 200px;
    padding: 10px 20px;
}


main .wrapper-form > .form-search:nth-child(2) {
    color: white;
    margin-top: -2%;
}

main .wrapper-form > .form-search > p {
    margin-top: 10px;
}

main .wrapper-form > .form-search > input {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-bottom: 15px;
}



/* main .wrapper-form .form-search > .search-btn {
    width: auto;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 40px;
    color: grey;
}

main > .search > .wrapper-form .form-search > .search-btn:hover {
    color: black;
} */



main > .search > .wrapper-form ul {
    text-align: left;
    width: 40%;
    position: relative;
    top: -500px;
    left: 600px;
}

main > .search > .wrapper-form h2 {
    position: relative;
    top: -500px;
    left: 420px;
    margin-bottom: 10px;
}

main > .search > .wrapper-form span.prev, span.next {
    position: relative;
    top: -500px;
    left: 550px;
    font-size: 20px;
    font-weight: 700;
}

main > .search > .wrapper-form span.prev {
    margin-right: 30px;
}
main > .search > .wrapper-form span.next {
    margin-left: 30px;
}

main > .search > .wrapper-form ul > li {
    width: 795px;
    text-align: left;
    list-style-type: none;
    font-size: 16px;
    /* background-color: rgba(255, 255, 255, 0.63); */
    cursor: pointer;
    margin-left: 20%;
    padding: 1.2% 0 1.1% 2%;
}

main > .search ul > li:hover {
    font-weight: 700;
}

main > .search > .wrapper-form span.error-msg {
    color: red;
    font-weight: 700;
    font-size: 1.5em;
    width: 59.9%;
    margin-left: 20%;
    position: relative;
    top: -420px;
    left: 290px;
}


/******************************************************    Visibility     *****************************************************************/

.active {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}